Flask==1.1.4
Werkzeug==1.0.1
flask_sqlalchemy==2.0
flask_login==0.5.0
gunicorn
SQLAlchemy==1.4.18
Flask-Migrate
Bcrypt-Flask==1.0.2
WTForms==3.0.1
email-validator
Flask-Admin==1.6.1
Flask-COMBO-JSONAPI==1.1.0
ComboJSONAPI==1.0.5
apispec==2.0.2
PyYAML==5.3.1